<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Básica</title>

    <!-- bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Assets -->
    <link rel="stylesheet" href="{{ url('Templates/Assets/css/index.css') }}">


</head>
<body class="confirmar-deletar-body">

    <div class="confirmacao">
        <div class="confirmacao-header">
            <span><i class="bi bi-trash"></i>Excluir produto</span>
            <span><a href="{{ url('/admin/dashboard') }}"><i class="bi bi-x"></i></a></span>
        </div>
        <div class="confirmacao-body">
            <div class="pergunta">Tem certeza que deseja excluir este produto? Essa açao nao pode ser desfeita.</div>
            <div class="atributo">
                <span>Produto</span>
                <span>{{ nome }}</span>
            </div class="atributo">
            <div class="atributo">
                <span>SKU</span>
                <span>{{ sku }}</span>
            </div>
            <div class="atributo">
                <span>Estoque</span>
                <span>{{ quantidade }} unidades</span>
            </div>
            <div class="atributo">
                <span>Preço</span>
                <span>{{ (preco/100)|number_format(2, ',', '.') }}</span>
            </div>
            <div class="alerta">
                <i class="bi bi-exclamation-triangle"></i> Açao permanente
            </div>
        </div>
        <div class="confirmacao-footer">
            <a href="{{ url('/admin/dashboard') }}">Cancelar</a>
            <a href="{{ url(action) }}"><i class="bi bi-trash"></i>Excluir Produto</a>
        </div>
    </div>

    <script src="{{ url('Templates/Assets/js/script.js') }}"></script>
    
</body>
</html>